.section-1,
.section-3 {
  height: 100vh;
}

.section-2 {}

.wrap {
  height: 400vh;
}

.trigger {
  position: absolute;
}

.trigger-1 {
  top: 100vh;
}

.trigger-2 {
  top: 200vh;
}

.trigger-3 {
  top: 300vh;
}

.trigger-4 {
  top: 400vh;
}

.rec-wrap {
  position: sticky;
  top: 50%;
  display: flex;
  justify-content: center;
  gap: 40px;
  transform: translateY(-50%);
}

.black-rec {
  width: 200px;
  height: 200px;
  background-color: black;
}